.contenidoCarta{
    float: left;
    width: 900px;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: left;
    align-items: unset;
  }

.imagenCarta{
    height: 150px;
    width: 125px;
    float: left;
    display: flex;
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unset; 
  }

.icono-advertencia{
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: unset;
}

body{
  background-color: #f0f0f0;
}

.burbuja{
  background: #fff;
  float: left;
  position: static;
  padding: 20px;
  color: #222;
  border-radius: 3px;
  margin-left: 20px;
  width: 755px;
  border: 1px solid black;
  border-radius: 1px 40px 40px 40px;
  margin-bottom: 5px;
}
.burbujaRespuesta{
  float: left;
  position: static;
  background: #fff;
  padding: 20px;
  color: #222;
  border-radius: 3px;
  margin-left: 145px;
  width: 850px;
  border: 1px solid black;
  border-radius: 1px 40px 40px 40px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.imagen{
  display: inline;
  align-content: center;
}