.burbuja{
    position: relative;
    display: inline-block;
    text-align: center;
}
 
.centrado{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burbuja{
    position: initial;
    top: 50%;
    left: 80%;
    transform: translate(-40%, -5%);
    float: right;
    justify-content: center;
    align-items: unset;
}
.bienvenida{
    margin-top: 200px;
    padding-left: 250px;
    float: left;
    justify-content: center;
    align-items: unset;
}
.contenedorBienvenida{
    position: relative;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unset;
}
.cartasParrafo{
    margin-bottom: 0px;
    width: 170px;
    height: 50px;
}